/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/raleway-v18-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/raleway-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/raleway-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../../fonts/raleway-v18-latin_cyrillic-regular.woff") format("woff"), url("../../fonts/raleway-v18-latin_cyrillic-regular.ttf") format("truetype"), url("../../fonts/raleway-v18-latin_cyrillic-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/raleway-v18-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/raleway-v18-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/raleway-v18-latin_cyrillic-700.woff2") format("woff2"), url("../../fonts/raleway-v18-latin_cyrillic-700.woff") format("woff"), url("../../fonts/raleway-v18-latin_cyrillic-700.ttf") format("truetype"), url("../../fonts/raleway-v18-latin_cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

body {
  font-family: "Roboto", sans-serif;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top center;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

h1, h2, h3, h4, p {
  margin-top: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.clients-link, .email-field, .form-input {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

.header {
  background-color: #FFFFFF;
  position: relative;
}

.header::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #E5E5E5;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav .logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header-nav .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav .logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-black-color);
}

.logo-accent {
  color: #2196F3;
}

.logo.inverse {
  color: #FFFFFF;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.icon-menu {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover .icon-menu,
.menu-button:focus .icon-menu {
  fill: #2196F3;
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover .icon-close,
.menu-button:focus .icon-close {
  fill: #2196F3;
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: flex;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    padding-top: 40px;
    padding-bottom: 52px;
    width: 100%;
    background-color: #FFFFFF;
  }
  .menu-container.is-open {
    display: block;
  }
}

.site-nav {
  display: flex;
}

@media screen and (max-width: 767px) {
  .site-nav {
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-right: 305px;
  }
}

@media screen and (min-width: 768px) {
  .nav-item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-link {
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .nav-link {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 1.17;
  }
}

.nav-link:focus, .nav-link:hover {
  color: #2196F3;
}

.open-page {
  color: #2196F3;
}

.open-page::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .open-page::after {
    bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .contact-list {
    align-items: start;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list {
    flex-direction: row;
    align-items: center;
  }
}

.contact-link {
  display: flex;
  align-items: center;
  font-family: inherit;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contact-link {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-link {
    font-size: 14px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact-link:hover, .contact-link:focus {
  color: #2196F3;
}

.icon-contact {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero .btn {
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-bcg-mobile1x.jpg);
}

@media screen and (min-resolution: 2dppx), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-bcg-mobile2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-bcg-tablet1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-bcg-tablet2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-bcg-desktop1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-bcg-desktop2x.jpg);
  }
}

.hero-title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.btn {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  border-width: 0px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  color: #2196F3;
  background-color: #F5F4FA;
}

.btn .icon-send {
  margin-left: 10px;
  fill: #FFFFFF;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover .icon-send,
.btn:focus .icon-send {
  fill: #2196F3;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.features-list {
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    flex-wrap: nowrap;
  }
}

.features-item {
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .features-item {
    width: calc((100% - 2 * 30px)/2);
  }
}

@media screen and (min-width: 1200px) {
  .features-item {
    width: calc((100% - 4 * 30px)/4);
  }
}

.features-icon {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.features-title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
  text-align: center;
}

.features-text {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.services {
  padding-bottom: 94px;
  background-color: #FFFFFF;
}

@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}

.services-list {
  display: flex;
}

.services-list .subtitle {
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.services-item {
  position: relative;
  width: calc((100% - 2 * 30px)/3);
}

.services-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.subtitle-thumb {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F5F4FA;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .team-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 2 * 30px)/2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 4 * 30px)/4);
  }
  .team-item:not(:nth-child(4n)) {
    margin-right: 30px;
  }
}

.team-desc {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 1200px) {
  .team-desc {
    padding-bottom: 30px;
  }
}

.team-name {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-post {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

.social-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.social-item {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-item:not(:nth-child(4n)) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #AFB1B8;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.social-link.inverse {
  color: #FFFFFF;
}

.social-icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .clients-list {
    flex-wrap: nowrap;
  }
}

.clients-item {
  width: calc((100% - 2 * 30px)/2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - 3 * 30px)/3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 6 * 30px)/6);
  }
}

.clients-link {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90px;
  color: #AFB1B8;
  border-color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border-color: #2196F3;
  color: #2196F3;
}

.client-icon {
  display: block;
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

@media screen and (max-width: 1199px) {
  .footer .container {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    align-items: baseline;
  }
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .footer .logo {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer .logo {
    margin-right: 0;
  }
}

@media screen and (max-width: 1199px) {
  .footer .btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts-wrap {
  display: flex;
}

@media screen and (max-width: 767px) {
  .contacts-wrap {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-wrap {
    justify-content: space-between;
    margin-bottom: 60px;
    padding-left: 60px;
    padding-right: 73px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-wrap {
    align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .address {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .address {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    margin-right: 85px;
  }
}

.address-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  font-style: normal;
}

@media screen and (max-width: 1199px) {
  .address-text {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .address-text {
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 1199px) {
  .address-item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .address-item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address-link {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover, .address-link:focus {
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .footer-social {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-right: 93px;
  }
}

.following-text {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .email-form {
    display: flex;
  }
}

.email-field {
  height: 50px;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.3);
  background-color: #2F303A;
}

@media screen and (max-width: 767px) {
  .email-field {
    width: 100%;
    max-width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .email-field {
    width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .email-field {
    width: 358px;
    margin-right: 12px;
  }
}

.email-field:invalid {
  color: #F33333;
}

.field-form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.field-form.comment {
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-color: rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-form:focus-within .form-input,
.field-form:hover .form-input {
  border-color: #2196F3;
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-form:focus-within .form-icon,
.field-form:hover .form-icon {
  fill: #2196F3;
}

.comment-input {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.comment-input::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.policy {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.policy-label {
  margin-left: 24px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .policy-label {
    font-size: 14px;
    margin-left: 35px;
  }
}

.policy-link {
  color: #2196F3;
}

.policy-icon {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 16px;
  height: 15px;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #212121;
  border-radius: 2px;
  transform: translateY(-50%);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .policy-icon {
    left: 12px;
  }
}

.policy-input:checked + .policy-icon,
.policy-input:checked:focus + .policy-icon {
  background-image: url("../images/icon-form-check.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  background-color: #2196F3;
  border-color: #2196F3;
}

.policy-input:focus + .policy-icon,
.policy-input:hover + .policy-icon {
  border-color: #2196F3;
}

.form .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.works {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .works {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.radio-btn {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .radio-btn {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .radio-btn {
    margin-bottom: 50px;
  }
}

.radio-btn-item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.radio-btn-link {
  display: inline-block;
  min-width: 73px;
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  background-color: #F5F4FA;
  border-width: 0;
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.radio-btn-link:hover, .radio-btn-link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.radio-btn-link.active {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .works-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .work-card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .work-card {
    width: calc((100% - 2 * 30px)/2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .work-card {
    width: calc((100% - 3 * 30px)/3);
  }
}

.work-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-link:hover, .work-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.image-thumb {
  position: relative;
  overflow: hidden;
}

.text-desc {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-link:hover .text-desc,
.work-link:focus .text-desc {
  opacity: 1;
  transform: translateY(0);
}

.work-label {
  padding: 20px 24px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-color: #EEEEEE;
  border-right-color: #EEEEEE;
  border-bottom-color: #EEEEEE;
}

.work-title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
}

.work-subtitle {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 3;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: scale(1);
}

@media screen and (min-width: 481px) {
  .is-hidden .modal {
    transform: translate(-50%, -50%) scale(1);
  }
}

.modal {
  width: 100%;
  padding: 40px;
  background-color: #FFFFFF;
  transform: scale(0.8);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 481px) {
  .modal {
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 538px;
  }
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 6px 6px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.icon-close {
  fill: var(--primary-black-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover .icon-close,
.btn-close:focus .icon-close {
  fill: #2196F3;
}

.form-title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */