.contact-list {
  @include flexible($fw:nowrap, $fd:column, $jc:center, $ai:center);

  @media screen and (min-width:768px) {
    align-items: start;
  }

  @media screen and (min-width:1200px) {
    flex-direction: row;
    align-items: center;
  }
}

.contact-item:not(:last-child) {
  @media screen and (min-width:1200px) {
    margin-right: 30px;
  }
}

.contact-link {
  @include flexible($fw:nowrap, $fd:row, $jc:start, $ai:center);
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: inherit;
  @include fonts($fs:18px, $fw:500, $lh:1.17, $ls:0.02em);
  color: $main-text-clr;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width:768px) {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
  }

  @media screen and (min-width:1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }

  &:hover,
  &:focus {
  color: $accent-clr;
  }
}

.icon-contact {
  margin-right: 10px;
  fill:currentColor;
}