// fonts

$general-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;

// colors

$main-text-clr: #757575;
$title-text-clr: #212121;
$accent-clr: #2196F3;
$logo-clr: #000000;
$primary-white-clr: #FFFFFF; 
$secondary-white-clr: rgba(255,255,255,0.6);
$bg-dark-clr: #2F303A;
$bg-light-clr: #F5F4FA;
$bg-overlay-hero-clr: rgba(47, 48, 58, 0.4);
$bg-overlay-features-clr: rgba(47, 48, 58, 0.8);
$bg-overlay-portfolio-clr: rgba(33, 150, 243, 0.9);
$icon-logo-clr: #AFB1B8;
$socials-bg-clr: rgba(255, 255, 255, 0.1);
$line-clr: #E5E5E5;
$backdrop-clr: rgba(0, 0, 0, 0.2);
$backdrop-btn-clr: rgba(0, 0, 0, 0.1);
$input-border-clr: rgba(33, 33, 33, 0.2);
$input-invalid-clr: #F33333;
$email-border-clr: rgba(255, 255, 255, 0.3);
$placeholder-clr: rgba(117, 117, 117, 0.5);
$portfolio-border-clr: #EEEEEE; 



