.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  .btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.overlay {
  max-width: 1600px;
  // height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to right, $bg-overlay-hero-clr, $bg-overlay-hero-clr), url(../images/hero-bcg.jpg); 
  background-color: $bg-dark-clr;
}

.hero-title {
  // width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  @include fonts(44px, 900, 1.36, 0.06em);
  color: $primary-white-clr;
  text-transform: uppercase;
}

